[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Icon=/datos/android-studio/bin/studio.png
Exec="/datos/android-studio/bin/studio.sh" %f
Comment=Entorno de desarrollo Android Studio
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
