[Desktop Entry]
Name=Bitwarden (1.12.0)
Comment=A secure and free password manager for all of your devices.
Exec=/home/lorenzo/.local/bin/Bitwarden-1.12.0-x86_64.AppImage
Terminal=false
Type=Application
Icon=appimagekit_84dab4c3b4a0eebf598cf250f30d60ff_bitwarden
StartupWMClass=Bitwarden
X-AppImage-Version=1.12.0
Categories=Utility;
X-AppImage-BuildId=1F8IXxZeyt3sCjw4VjRwSvcT845

TryExec=/home/lorenzo/.local/bin/Bitwarden-1.12.0-x86_64.AppImage
X-AppImage-Old-Icon=bitwarden
X-AppImage-Old-Name=Bitwarden
X-AppImage-Identifier=84dab4c3b4a0eebf598cf250f30d60ff