[Desktop Entry]
Name=Motrix (1.2.2.139)
Comment=A full-featured download manager
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --noprofile --appimage /home/lorenzo/Descargas/Motrix-1.2.2-x86_64.AppImage
Terminal=false
Type=Application
Icon=appimagekit_57890c1735de8082859ed2eee0728abd_motrix
StartupWMClass=Motrix
X-AppImage-Version=1.2.2.139
MimeType=application/x-bittorrent;
Categories=Network;
X-AppImage-BuildId=1ItxSPWrnFI21FlcTfdSpxtKFC6

TryExec=/home/lorenzo/Descargas/Motrix-1.2.2-x86_64.AppImage
X-AppImage-Old-Icon=motrix
X-AppImage-Old-Name=Motrix
X-AppImage-Identifier=57890c1735de8082859ed2eee0728abd
Actions=FirejailProfile;

[Desktop Action FirejailProfile]
Name=Run without sandbox profile
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /home/lorenzo/Descargas/Motrix-1.2.2-x86_64.AppImage
TryExec=firejail
