[Desktop Entry]
Name=Bitwarden (1.16.4)
Exec=/home/lorenzo/.local/bin/Bitwarden-1.16.4-x86_64.AppImage
Terminal=false
Type=Application
Icon=appimagekit_bbf0cc273ba3b3959e6892bc1b6aa2d3_bitwarden
StartupWMClass=Bitwarden
X-AppImage-Version=1.16.4
Comment=A secure and free password manager for all of your devices.
Categories=Utility;

TryExec=/home/lorenzo/.local/bin/Bitwarden-1.16.4-x86_64.AppImage
X-AppImage-Old-Icon=bitwarden
X-AppImage-Old-Name=Bitwarden
X-AppImage-Identifier=bbf0cc273ba3b3959e6892bc1b6aa2d3