[Desktop Entry]
Name=Lepton (1.8.1)
Comment=Democratizing Code Snippets Management (macOS/Win/Linux)
Exec=/home/lorenzo/Descargas/Lepton-1.8.1-x86_64.AppImage
Terminal=false
Type=Application
Icon=appimagekit_3154cae0243d0470fc32c1414d81f036_lepton
StartupWMClass=Lepton
X-AppImage-Version=1.8.1
Categories=Development;
X-AppImage-BuildId=1QDpnM12Txduhe9P6zJijmi8edt

TryExec=/home/lorenzo/Descargas/Lepton-1.8.1-x86_64.AppImage
X-AppImage-Old-Icon=lepton
X-AppImage-Old-Name=Lepton
X-AppImage-Identifier=3154cae0243d0470fc32c1414d81f036