[Desktop Entry]
Name=Joplin (1.0.227.2422)
Exec=/home/lorenzo/.local/bin/Joplin.AppImage
Terminal=false
Type=Application
Icon=appimagekit_9b0eb9c7e02f2612548f1e7a331a37e8_joplin
StartupWMClass=Joplin
X-AppImage-Version=1.0.227.2422
Comment=Joplin for Desktop
Categories=Office;

TryExec=/home/lorenzo/.local/bin/Joplin.AppImage
X-AppImage-Old-Icon=joplin
X-AppImage-Old-Name=Joplin
X-AppImage-Identifier=9b0eb9c7e02f2612548f1e7a331a37e8