[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Yin & Yang (.glibc2.3.4)
# A comment which can/will be used as a tooltip
Comment=Auto Nightmode for KDE and VSCode
# The path to the folder in which the executable is run
Path=/usr/bin
# The executable of the application, possibly with arguments.
Exec=/home/lorenzo/.local/bin/Yin-Yang.AppImage
# The name of the icon that will be used to display this entry
Icon=appimagekit_d0a6e8088604935f4b87e522d7cf11c6_/usr/icons/hicolor/scalable/apps/icon
# Describes whether this application needs to be run in a terminal or not
Terminal=false
Categories=KDE;GNOME;


X-AppImage-Version=.glibc2.3.4

TryExec=/home/lorenzo/.local/bin/Yin-Yang.AppImage
X-AppImage-Old-Icon=/usr/icons/hicolor/scalable/apps/icon
X-AppImage-Old-Name=Yin & Yang
X-AppImage-Identifier=d0a6e8088604935f4b87e522d7cf11c6