[Desktop Entry]
Type=Application
Name=appimaged
Exec=/home/lorenzo/.local/bin/appimaged
Comment=Optional daemon to integrate AppImages with the desktop
Icon=appimagekit_db7a828e7a6a9f4dff8661e8429ae5a5_appimaged
Categories=Development;
Terminal=false
NoDisplay=true

TryExec=/home/lorenzo/.local/bin/appimaged
X-AppImage-Old-Icon=appimaged
X-AppImage-Identifier=db7a828e7a6a9f4dff8661e8429ae5a5