[Desktop Entry]
Name=balenaEtcher (1.5.24)
Comment=Flash OS images to SD cards and USB drives, safely and easily.
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --noprofile --appimage /home/lorenzo/Descargas/balenaEtcher-1.5.24-x64.AppImage
Terminal=false
Type=Application
Icon=appimagekit_73a168182d9866a96617760578ab14ca_balena-etcher-electron
StartupWMClass=balenaEtcher
X-AppImage-Version=1.5.24
Categories=Utility;
X-AppImage-BuildId=1JZujQpbTFqXQGpOVOptXBxKbmP

TryExec=/home/lorenzo/Descargas/balenaEtcher-1.5.24-x64.AppImage
X-AppImage-Old-Icon=balena-etcher-electron
X-AppImage-Old-Name=balenaEtcher
X-AppImage-Identifier=73a168182d9866a96617760578ab14ca
Actions=FirejailProfile;

[Desktop Action FirejailProfile]
Name=Run without sandbox profile
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /home/lorenzo/Descargas/balenaEtcher-1.5.24-x64.AppImage
TryExec=firejail
