[Desktop Entry]
Name=Station (1.38.1.3197)
Comment=Station
Exec=/home/lorenzo/.local/bin/browserX-1.38.1-x86_64.AppImage
Terminal=false
Type=Application
Icon=appimagekit_5987b413e4f8fc6f215d95652b574014_browserx
StartupWMClass=Station
X-AppImage-Version=1.38.1.3197
MimeType=x-scheme-handler/station;
Categories=Network;
X-AppImage-BuildId=1HU0t8MPL3ENubojouR8JZtRTmN

TryExec=/home/lorenzo/.local/bin/browserX-1.38.1-x86_64.AppImage
X-AppImage-Old-Icon=browserx
X-AppImage-Old-Name=Station
X-AppImage-Identifier=5987b413e4f8fc6f215d95652b574014