[Desktop Entry]
Name=CPod (1.27.0.444)
Comment=A simple, beautiful podcast app.
Exec=/home/lorenzo/.local/bin/CPod-1.27.0-x86_64.AppImage
Terminal=false
Type=Application
Icon=appimagekit_dcd4acb3252926fd6e5ebaa3e21fbe03_cpod
X-AppImage-Version=1.27.0.444
X-AppImage-BuildId=b32d9fd0-d774-11a8-3008-39214fdaf7b3
Categories=Audio;AudioVideo;

TryExec=/home/lorenzo/.local/bin/CPod-1.27.0-x86_64.AppImage
X-AppImage-Old-Icon=cpod
X-AppImage-Old-Name=CPod
X-AppImage-Identifier=dcd4acb3252926fd6e5ebaa3e21fbe03