[Desktop Entry]
Name=AppImageUpdate
Type=Application
Icon=appimagekit_635f2862cd547c807a41f4e6a7950831_AppImage
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --noprofile --appimage /home/lorenzo/.local/bin/AppImageUpdate-x86_64.AppImage.zs-old
Comment=Update applications distributed in AppImage format

TryExec=/home/lorenzo/.local/bin/AppImageUpdate-x86_64.AppImage.zs-old
X-AppImage-Old-Icon=AppImage
X-AppImage-Identifier=635f2862cd547c807a41f4e6a7950831
Actions=FirejailProfile;

[Desktop Action FirejailProfile]
Name=Run without sandbox profile
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /home/lorenzo/.local/bin/AppImageUpdate-x86_64.AppImage.zs-old
TryExec=firejail
