[Desktop Entry]
Name=Bitwarden (1.16.4)
Exec=/home/lorenzo/Descargas/Bitwarden-1.16.4-x86_64.AppImage
Terminal=false
Type=Application
Icon=appimagekit_b6155513397b184fd56bbd5c4b162318_bitwarden
StartupWMClass=Bitwarden
X-AppImage-Version=1.16.4
Comment=A secure and free password manager for all of your devices.
Categories=Utility;

TryExec=/home/lorenzo/Descargas/Bitwarden-1.16.4-x86_64.AppImage
X-AppImage-Old-Icon=bitwarden
X-AppImage-Old-Name=Bitwarden
X-AppImage-Identifier=b6155513397b184fd56bbd5c4b162318