#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WhatsChrome
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=bgkodfmeijboinjdegggmkbkjfiagaan
Icon=chrome-bgkodfmeijboinjdegggmkbkjfiagaan-Default
StartupWMClass=crx_bgkodfmeijboinjdegggmkbkjfiagaan
