#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gliffy Diagrams
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=bhmicilclplefnflapjmnngmkkkkpfad
Icon=chrome-bhmicilclplefnflapjmnngmkkkkpfad-Default
StartupWMClass=crx_bhmicilclplefnflapjmnngmkkkkpfad
