[Desktop Entry]
Name=Cities in Motion
Comment=Play this game on Steam
Exec=steam steam://rungameid/73010
Icon=steam_icon_73010
Terminal=false
Type=Application
Categories=Game;
