#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/home/lorenzo/clicksign/menu/signloop.sh
Icon=/home/lorenzo/clicksign/icons/signloop.png
Name=Signloop
Categories=Clicksign
MimeType=application/pdf;application/x-pdfsignable;
