#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/home/lorenzo/clicksign/menu/about.sh
Icon=/home/lorenzo/clicksign/icons/comments.png
Name=About
Categories=Clicksign
MimeType=application/pdf;application/x-pdfsignable;
Name[es]=Acerca de
Name[ca]=Quant a...
