[Desktop Entry]
Name=Commandos 3: Destination Berlin
Comment=Play this game on Steam
Exec=steam steam://rungameid/6840
Icon=steam_icon_6840
Terminal=false
Type=Application
Categories=Game;
