[Desktop Entry]
Version=1.0
Name=Cryptomator
Comment=Cryptomator
TryExec=/home/lorenzo/.local/bin/cryptomator-1.4.0-x86_64.AppImage
Exec=/home/lorenzo/.local/bin/cryptomator-1.4.0-x86_64.AppImage
Icon=/home/lorenzo/.local/share/icons/cryptomator.png
Terminal=false
Type=Application
Categories=Network
