[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=/datos/apps/PhpStorm/bin/phpstorm.png
Exec="/datos/apps/PhpStorm/bin/phpstorm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
