[Desktop Entry]
Version=1.0
Type=Application
Icon=/home/lorenzo/.java/deployment/cache/6.0/41/11fe4b29-17f6b45b.ico
Comment=Aplicacion para la firma de documentos PDF
Terminal=false
Categories=Applications;ACCV/FirmaOnlinePDF
Name=FirmaOnlinePDF
Exec=/usr/lib/jvm/java-8-oracle/jre/bin/javaws -localfile -offline -J-Djnlp.application.href=http://www.accv.es/descargas/kogui/firmapdf.jnlp /home/lorenzo/.java/deployment/cache/6.0/35/bc814e3-693c7e1a
Encoding=UTF-8
