#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/home/lorenzo/clicksign/menu/portasigma-upload.sh %F
Icon=/home/lorenzo/clicksign/icons/portasigma.png
Name=Upload to PortaSigma
Categories=Clicksign
MimeType=application/pdf;application/x-pdfsignable;
Name[es]=Subir a PortaSigma
Name[ca]=Pujar a PortaSigma
NoDisplay=true
