[Desktop Entry]
Name=Shift
Icon=/home/lorenzo/.local/share/icons/hicolor/1024x1024/apps/shift.png
Version=2.4.1
GenericName=Shift
X-GNOME-FullName=Shift
Comment=Shift
Encoding=UTF-8
Type=Application
Terminal=false
Exec=/datos/Escritorio/shift-linux-v2.4.1/resources/../Shift -mailto %u
Categories=Network;
MimeType=x-scheme-handler/mailto;
