[Desktop Entry]
Version=1.0
Name=SQLiteStudio
Comment=An applicatio for edit Sqlite databases
TryExec=/datos/apps/SQLiteStudio/sqlitestudio
Exec=/datos/apps/SQLiteStudio/sqlitestudio
Icon=/datos/apps/SQLiteStudio/sqlitestudio.png
Terminal=false
Type=Application
Categories=Office;
