[Desktop Entry]
Categories=
Comment=An ISQL tool
Comment[es]=An ISQL tool
Encoding=UTF-8
Exec=/home/lorenzo/squirrel-sql-3.8.1/squirrel-sql.sh 
GenericName=
GenericName[es]=
Icon=/home/lorenzo/squirrel-sql-3.8.1/icons/acorn.ico
MimeType=
Name=SQuirreL SQL Client
Name[es]=SQuirreL SQL Client
Path=/home/lorenzo/squirrel-sql-3.8.1
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=
TerminalOptions=
Type=Application
URL=
X-KDE-SubstituteUID=false
X-KDE-Username=root

# created by com.izforge.izpack.util.os.Unix_Shortcut $Revision$
# $Id$