[Desktop Entry]
Name=The Abbey of Crime Extensum
Comment=Play this game on Steam
Exec=steam steam://rungameid/474030
Icon=steam_icon_474030
Terminal=false
Type=Application
Categories=Game;
