[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/datos/apps/firefox/firefox %u
Name=Firefox Developer Edition
Comment=Definición personalizada para Firefox Developer Edition
