[Desktop Entry]
Version=1.0
Name=xinput-gui
Comment=Graphical Interface for xinput
TryExec=xinput-gui
Exec=xinput-gui
Icon=xinput
Terminal=false
Type=Application
Categories=GNOME
